:root {
  --color-oil: #c0eff7;
  --color-midnight: #232a5a;
}

/* Inactive Tab */
header .nav-tabs .nav-item .nav-link {
  background-color: var(--color-oil) ; /* Set background color for inactive tabs */
  color: var(--color-midnight) ;
}

/* Active Tab */
.nav-link.active {
  background-color: var(--color-midnight) ; /* Set background color for active tab */
  color: var(--color-oil) ; /* Set text color for active tab */
  
  /* Scintillating Animation */
  animation-name: scintillate; /* Apply the animation */
  animation-duration: 10s; /* Duration of the animation */
  animation-iteration-count: infinite; /* Infinite animation loop */
}

@keyframes scintillate {
  0% {
    background-color: var(--color-oil);
  }
  50% {
    background-color: var(--color-midnight);
  }
  100% {
    background-color: var(--color-oil);
  }
}

.project-card {
  width: 16rem !important;
  height: 16rem !important;
  position: relative !important;
  background-color: white;
  overflow-y: scroll;
}

.project-content {
  position: absolute;
  background-color: whitesmoke;

  width: 15rem !important;
 
  
}

/* we want to hide img and display content */
/* we apply the hover to the parent element */
/* and then add on the child element class to update style */

/* hide the project image */
.project-card:hover .project-img {
  display: none;
}

/* show the project content */
.project-card:hover .project-content {
  display: block;
}

.hideable {
  display: none;
}

#bodystyle {
  background-color: white;
  color: black;
  font-size: calc(10px + 2vmin);

}


#rhys-portrait {
  margin: 2%;
}



.App-link {
  color: #d4a373;
  text-decoration: none;
}

.App-link:hover {
  color: bisque;
}

