/* Inactive Tab */
.nav-link {
  background-color: #c0eff7 !important; /* Set background color for inactive tabs */
  color: #232a5a !important;
}

/* Active Tab */
.nav-link.active {
  background-color: #232a5a  !important; /* Set background color for active tab */
  color: #c0eff7 !important; /* Set text color for active tab */
}

.project-card {
  width: 16rem !important;
  height: 16rem !important;
  position: relative !important;
  background-color: white;
  overflow-y: scroll;
}

.project-content {
  position: absolute;
  background-color: whitesmoke;

  width: 15rem !important;
 
  
}

/* we want to hide img and display content */
/* we apply the hover to the parent element */
/* and then add on the child element class to update style */

/* hide the project image */
.project-card:hover .project-img {
  display: none;
}

/* show the project content */
.project-card:hover .project-content {
  display: block;
}

.hideable {
  display: none;
}

#bodystyle {
  background-color: white;
  color: black;
  font-size: calc(10px + 2vmin);

}


#rhys-portrait {
  margin: 2%;
}



.App-link {
  color: #d4a373;
  text-decoration: none;
}

.App-link:hover {
  color: bisque;
}

