:root {
  --color-oil: #c0eff7;
  --color-midnight: #232a5a;
}

/* Inactive Tab */
header .nav-tabs .nav-item .nav-link {
  background-color: var(--color-oil) ; /* Set background color for inactive tabs */
  color: var(--color-midnight) ;
}

/* Active Tab */
.nav-link.active {
  background-color: var(--color-midnight) ; /* Set background color for active tab */
  color: var(--color-oil) ; /* Set text color for active tab */
  
  /* Scintillating Animation */
  animation-name: scintillate; /* Apply the animation */
  animation-duration: 10s; /* Duration of the animation */
  animation-iteration-count: infinite; /* Infinite animation loop */
}

@keyframes scintillate {
  0% {
    background-color: var(--color-oil);
  }
  50% {
    background-color: var(--color-midnight);
  }
  100% {
    background-color: var(--color-oil);
  }
}

.resume-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.resume-content .button-container {
  text-align: center;
  margin-bottom: 20px;
}

.resume-content .button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.resume-content .button-link {
  color: #fff;
  text-decoration: none;
}

.resume-content .button-link:hover {
  color: var(--primary-color);
}

.resume-content .resume-section {
  margin-bottom: 30px;
}

.resume-content .resume-section h2 {
  margin-top: 0;
}

.resume-content .resume-section p {
  margin-bottom: 10px;
}

.resume-content .resume-section ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

.resume-content .resume-section ul li {
  list-style-type: disc;
}

.resume-content .resume-section .project {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.resume-content .resume-section .project h3 {
  margin-top: 0;
}

.resume-content .resume-section .project p {
  margin-top: 5px;
}

.resume-content .resume-section .project-link {
  color: var(--primary-color);
  text-decoration: none;
}

.resume-content .resume-section .project-link:hover {
  color: var(--secondary-color);
}


/* Portfolio section styling goes here */
.project-card {
  width: 16rem;
  height: 16rem;
  position: relative;
  background-color: white;
  overflow-y: scroll;
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.project-card:hover .project-content {
  display: block;
}

.project-card .project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover .project-img {
  opacity: 0;
}



/* Your existing nav tabs styling goes here */
